    body{
        font-family: 'Roboto';
        background-color: white;
        border: 1px solid black;   
        color: var(--black-brightness-90, rgba(18, 18, 18, 0.90));    
    }

    main{
        padding-left: 1rem;
        padding-right: 1rem;
    }

    header{
        border: 1px solid black;
        border-left: 0;
        border-right: 0;
        border-top: 0;
    }