.main-nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
    height: 48px;
}

.main-nav .menu-item{
    padding: .75rem;
    border: 1px solid black;
    height: 48px;
    border-bottom: 0;
    border-top: 0;
    box-sizing: border-box;
}

.main-nav .menu-item:nth-child(2n){
    border-right: 0;
}

.main-nav .menu-item:nth-child(odd){
    border-left: 0;
}

.main-nav .menu{
    display: none;
}


@media screen and (min-width:980px) {
    .main-nav{
        height: 93px;
    }
    .main-nav .menu-item{
        display: none;
    }
    .main-nav .menu{
        display: flex;
        justify-content: space-between;
        width: 100%;
        height: 93px;
        box-sizing: border-box;
       

    }

    .main-nav .menu .menu-action{
        font-family: 'Roboto';
        text-decoration: none;
        font-size: 20px;
        text-align: center;
        color: black;
        width: 180px;
        height: 100%;
        padding: 2rem 1.5rem;
        box-sizing: border-box ;
    }

    .main-nav .menu .menu-action:nth-child(odd){
        border-right: 1px solid black;
    }

    .main-nav .menu .actions{
        display: inline-flex;
        border-right: 1px solid black;
    }

    .main-nav .menu .actions:last-child{
        border: none;
        border-left: 1px solid black;
    }

}